
*{
	border: 0;
}
@font-face{
	font-family:elon;
	src: url(../font/Gotham-Light.ttf);
}
@font-face{
	font-family:valve;
	src: url(../font/Barlow-Black.ttf);
}
@font-face{
	font-family:valve2;
	src: url(../font/Barlow-Light.ttf);
}

 body {
 	margin: 0;
 	color: #000000;  /*COLOR AZUL*/
 	font-family: 'Inconsolata', monospace;
 	text-align: center;
 	background: #FFFFFF;
 }

img  {
	display: block;
	margin: 2em auto;
}
body section img {
	text-align: left;
	margin: 1.9em;
}
a {
	display: block;
	color: #f74843;
	font-weight: bold;
	margin: 0em;
	text-decoration: none;
}

/*COLOR CUANDO APUNTAS CON PUNTERO LOS LUGARES*/
a:hover {
  color: #FFFFFF;
}

footer {
	text-align: center;
	line-height: 100%;
	width: 100%;
	height: 70px;

	bottom: 0;
	position: fixed;
	margin-top: 50px;

	background-color: #f74843;
	font-family: 'Inconsolata', monospace;
}
/* Abajo el footer*/
body ul a {
	font-family:elon, monospace;
	font-size: 16px;
	color: #FFFFFF
}

.copy {
	color: #000000;
}

ul a {
	color: #FFFFFF;
	transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}

ul a:hover {
	color: #808080;
	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

ul li {
	display: inline-block;
	margin: 0em 0.5em;
	color: #000000;
	font-size: 12px;
}

