.color {
    color: white;
    -webkit-transition: color 3s;
    transition: color 3s;
    -webkit-transition-delay: 2s;
    transition-delay: 1.5s;
    display: inline-block
}

.color.color-1:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ffaa79;
}

.color.color-2:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #b4fafa;
}

.color.color-3:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ff787d;
}

.color.color-4:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #efb1ed;
}

.color.color-5:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ffe484;
}