<p class="color color-4">Es bueno a</p><p class="color color-2">mar</p>
<p class="color color-1">tanto como</p>
<p class="color color-5">se</p>
<p class="color color-2">pueda,</p>
<p class="color color-5">porque ahí</p>
<p class="color color-1">rad</p><p class="color color-5">ica</p>
<p class="color color-2">la</p>
<p class="color color-5">verdadera</p>
<p class="color color-2">fuerza</p><p class="color color-5">, y</p>
<p class="color color-3">el que mucho</p>
<p class="color color-4">ama</p>
<p class="color color-5">realiza</p>
<p class="color color-2">grandes</p>
<p class="color color-5">co</p><p class="color color-3">s</span><span class="color color-4">as.</span>
<h4 id="me" style="float: right;">Vincent Van Gogh</h4>