{% extends 'core/base.html' %}
{% load static %}

{% block title %}Equipment{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'core/css/main_equipment.css' %}">{% endblock %}
{% block background %}{% endblock %}


{% block navbar %}<nav style="background-color: transparent !important;"  id="navbar" class="navbar navbar-expand-lg navbar-light bg-light mb-3">{% endblock %}

{% block color %}
    <li class="nav-item active">
        <a class="nav-link text-black" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-black" href="#redes">Portfolio</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-black" href="#redes">Contact</a>
    </li>
{% endblock %}


{% block content %}
<!-- Camera n°1 -->
<section id="camera">
    <div class="container mt-5">
        <div class="row mt-3">
            <div class="col-md-6 my-auto">
                <div class="info-right">
                    <h1>Sony Alpha A7R IV</h1>
                    <p class="mt-1">Expresión a su máxima capacidad. La a7R IV mirrorless Full Frame de Sony revela
                        una visión fotográfica
                        cada vez más abrumadora, con una destreza expresiva que anteriormente solo se esperaba en
                        cámaras de formato medio,
                        con una velocidad abrumadora empacada en un cuerpo compacto. Mira cómo sus avances
                        tecnológicos aumentan su productividad..</p>
                    <a href="#" class="btn btn-outline-secondary btn-lg">Sitio web</a>
                    <img src="{% static 'core/img/camera.jpg' %}" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-left">
                    <img src="{% static 'core/img/camera_2.jpg' %}" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Camera n°2 -->
<section id="camera-two">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6">
                <h3>Logro de la máxima resolución: sensor CMOS full-frame de 61 MP</h3>
                <p>La regla de detección de color ha sido reescrita por HUAWEI de RGB a RYB para
                    obtener más luz en todas tus imágenes. El trabajo conjunto entre el sensor HUAWEI SuperSpectrum,
                    2 ISP de Kirin 980 y el algoritmo de desarrollo propio, contribuye con un aumento del 40% de luz
                    para proporcionar con claridad tus recuerdos durante el día o la noche.</p>
            </div>
            <div class="col-md-6">
                <h3>El motor de procesamiento de imágenes saca el máximo partido al sensor CMOS</h3>
                <p>El potente sensor de imagen nuevo se ha combinado con un mejorado motor de procesamiento de
                    imágenes
                    BIONZ X de alta velocidad para reproducir fielmente los detalles y reducir bastante el ruido. El
                    ruido
                    que suele producirse por la elevada cantidad de píxeles se ha minimizado para obtener una alta
                    calidad
                    de imagen, sobre todo en el rango de sensibilidad ISO estándar, hasta ISO 32.000.</p>
            </div>
        </div>
    </div>
</section>

<hr>

<!-- Smartphone -->
<header id="smartphone">
    <div class="container mt-5">
        <div class="row">
            <!-- Una fila adentro -->
            <div class="col-md-6">
                <!-- Boostrap esta dividido en 12 columnas -->
                <div class="header-content-left">
                    <img src="{% static 'core/img/huawei.png' %}" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-content-rigth">
                    <h1>Huawei P30 Pro</h1>
                    <p class="mt-1">Huawei es lider en fotografia movil & son referentes. Este modelo cuenta con un
                        diseño
                        extraordinario & esta construido con materiales de premium para esas personas mas exigentes.
                        En termino de potencia sobra.
                        El el telefono que recomiendo si te gusta la fotografia.</p>
                    <hr>
                    <h3>Camara</h3>
                    <p>Sistema de cuádruple cámara Leica se adapta a tu fotografía para ayudarte a ver el mundo al
                        completo.
                        Un sistema de cámara incomparable que incluye una lente SuperZoom, una cámara Super Sensing
                        40 MP, una
                        lente gran angular de 20 MP y una cámara TOF HUAWEI, que te permite capturar la belleza del
                        mundo al detalle.</p>
                    <hr>
                    <h3>Periscopio</h3>
                    <p>El nuevo teleobjetivo periscopio permite que más capacidades de zoom óptico se coloquen en un
                        cuerpo
                        compacto sin perder calidad de imagen. Junto con la saturación de color proporcionada por la
                        cámara
                        principal 40 MP, y la estabilidad de OIS y AIS, la lente SuperZoom ofrece un zoom híbrido
                        10x1 para
                        ver lo que nunca has visto con una gran resolución y un gran detalle. Además, puedes traer
                        la luna
                        justo delante de tus ojos con un zoom de hasta 50x.</p>
                    <hr>
                    <a href="#" class="btn btn-outline-secondary btn-lg header-btn">Sitio web</a>
                </div>
            </div>
        </div>
    </div>
</header>

<hr>

<!-- Tripode -->
<section id="tripod">
        <div class="container mt-5">
            <div class="row mt-3">
                <div class="col-md-6 my-auto">
                    <div class="info-right">
                        <h1>Tripode Peak Design</h1>
                        <p class="mt-1">Durante años, los trípodes tradicionales han sufrido el volumen innecesario y el espacio perdido. 
                            Pasamos 4 años rediseñando el trípode desde cero, creando un trípode de viaje que se adapta al diámetro de una 
                            botella de agua, sin comprometer la altura, la estabilidad o las características.
                            Nuestro trípode, radicalmente más rápido de configurar y desmontar, presenta puntos de ajuste ergonómicos, 
                            compatibilidad móvil incorporada y detalles bien pensados ​​en todo momento. Además, está diseñado para la vida 
                            en la carretera: duradero, 100% útil y respaldado por la garantía de por vida Peak Design.</p>
                        <a href="#" class="btn btn-outline-secondary btn-lg">Sitio web</a><br><br>
                        <img src="{% static 'core/img/tripod3.jpg' %}" style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-left">
                        <img src="{% static 'core/img/tripod.jpg' %}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
<hr>


<!-- Drone -->
<section id="drone">
        <div class="container mt-5">
            <div class="row mt-3">
                <div class="col-md-6 my-auto">
                    <div class="info-right">
                        <h1>DJI Mavic Pro II</h1>
                        <p class="mt-1">Nuestro sueño siempre ha sido hacer un dron que exista donde convergen la ingeniería, 
                            la tecnología y las necesidades del fotógrafo aéreo. Un dron que incorpora todas las tecnologías 
                            avanzadas y exclusivas de DJI y es capaz de redefinir lo que es posible para el mundo de la fotografía 
                            aérea. Al crear el Mavic 2, hemos hecho realidad este sueño.</p>
                        <a href="#" class="btn btn-outline-secondary btn-lg">Sitio web</a><br><br>
                        <img src="{% static 'core/img/drone.jpg' %}" style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-left">
                        <img src="{% static 'core/img/drone3.jpg' %}" style="width: 100%;"><br><br>
                        <img src="{% static 'core/img/drone2.jpg' %}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
<br><br>



<!-- Testimonial -->
<section id="testimonial">
    <div class="container">
        <p class="mb-2">
            Hace tres semanas que tengo el modelo Huawei P30 y estoy encantado con el.
            Larga duración de batería, fotos excelentes y procesador bastante rapido.
            Desde que tengo este modelo me he olvidado de mi camara reflex canon 600D.
            Si tuviera que volver a elegir en la compra de un móvil no dudaria en comprar este modelo.
        </p>
        <p class="h5">Valentina d'Andria</p>
        <p class="mb-2">
            En líneas generales, es una compra segura!. Destacar la batería (lo cargo una vez cada 2 días, aún
            quedando un 25-30% restante) y el apartado fotográfico sobretodo. Quizás lo
            único malo del dispositivo sea la capa EMUI, que aún así ha mejorado bastante respecto a versiones
            anteriores.
        </p>
        <p class="h5">Ever Toujours</p>
    </div>
</section> {% endblock %}
    
    









{% block effect %}
    <script>
        window.sr = ScrollReveal();

        sr.reveal('.navbar', {
            duration: 2000,
            origin: 'bottom'
        })

        sr.reveal('.header-content-left', {
            duration: 2000,
            origin: 'top',
            distance: '300px'
        })

        sr.reveal('#drone', {
            duration: 2000,
            origin: 'top',
            distance: '300px'
        })

        sr.reveal('#camera', {
            duration: 2000,
            origin: 'bottom',
            distance: '300px'
        })

        sr.reveal('#tripod', {
            duration: 2000,
            origin: 'left',
            distance: '300px'
        })

        sr.reveal('.header-content-rigth', {
            duration: 2000,
            origin: 'right',
            distance: '300px'
        })

        sr.reveal('.header-btn', {
            duration: 2000,
            origin: 'bottom',
            delay: 500
        })

        sr.reveal('#testimonial', {
            duration: 2000,
            origin: 'left',
            distance: '300px',
            viewfactor: 0.2
        })
    </script>
{% endblock %}
</body>
</html>