{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block background %}
    <video src="{% static 'core/img/video.mp4' %}" autoplay loop muted poster="{% static 'core/img/primary.jpg' %}">
</video> {% endblock %}

{% block content %}
    <header id="header">
        <div class="container mt-5 principal">
            <div class="row">
                <div class="col-md-8">
                    <div class="header-content-left">

                        <div class="mt-4" id="header-texto"> {% include 'core/colors.html' %} </div>
                        
                        <div id="places">
                            <article><a title="Bariloche" href="{% url 'mountain' %}"><h1>Mountain</h1></a></article>
                            <article><a title="Buenos Aires" href="{% url 'ba' %}"><h1>BA</h1></a></article>
                            <article><a title="People" href="{% url 'people' %}"><h1>People</h1></a></article>

                            <article><h1>Italy</h1></article>
                            <article><h1>Seattle</h1></article>
                            <article><h1>Tromsø</h1></article>
                            <article><h1>Iceland</h1></article>
                            <article><h1>China</h1></article>
                            
                            <article><a title="Industrial" href="{% url 'industrial' %}"><h1>Others</h1></a></article> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block effect %}
    <script src="{% static 'core/js/homeEffect.js' %}" charset="utf-8"></script>
{% endblock %}