{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'core/css/main_index.css' %}">{% endblock %}
{% block background %}<video src="{% static 'core/img/video/paulvandyk.mp4' %}" autoplay loop muted poster="{% static 'core/img/flower.jpg' %}"></video> {% endblock %}


{% block navbar %}<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">{% endblock %}

{% block color %}
   <!--  <li class="nav-item">
        <a target="blank" class="nav-link text-white" href="http://sinconmasver.pythonanywhere.com/">Portafolio</a>
    </li>
    <li class="nav-item">
        <a target="blank" class="nav-link text-white" href="http://sinconmasver.pythonanywhere.com/contact/">Contacto</a>
    </li> -->
{% endblock %}

{% block content %}
<header id="header">
        <div class="container mt-5 principal">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-content-left">
                        <article>
                            <h1 class="display-4" id="me">Ever Toujours</h1>
                        </article>
                        <br>
                        
                        <div id=header-texto>
                            <p class="color color-4">Es bueno a</p><p class="color color-2">mar</p>
                            <p class="color color-1">tanto como</p>
                            <p class="color color-5">se</p>
                            <p class="color color-2">pueda,</p>
                            <p class="color color-5">porque ahí</p>
                            <p class="color color-1">rad</p><p class="color color-5">ica</p>
                            <p class="color color-2">la</p>
                            <p class="color color-5">verdadera</p>
                            <p class="color color-2">fuerza</p><p class="color color-5">, y</p>
                            <p class="color color-3">el que mucho</p>
                            <p class="color color-4">ama</p>
                            <p class="color color-5">realiza</p>
                            <p class="color color-2">grandes</p>
                            <p class="color color-5">co</p><p class="color color-3">s</span><span class="color color-4">as.</span>
                            <h4 id="me" style="float: right;">Vincent Van Gogh</h4>
                        </div>
                        
                        <div id="places">
                            <article><a title="Bariloche" href="{% url 'bariloche' %}"><h1 class="display-3">Bariloche</h1></a></article>
                            <article><a title="Bariloche" href="{% url 'example' %}"><h1 class="display-3">Ejemplo</h1></a></article>
                            <article><h1 class="display-3">Buenos Aires</h1></article>
                            <article><h1 class="display-3">Example</h1></article>
                            <article><h1 class="display-3">People</h1></article>
                            <article><h1 class="display-3">Italy</h1></article>
                            <article><h1 class="display-3">Zealand</h1></article>
                            <article><h1 class="display-3">Seattle</h1></article>
                            <article><h1 class="display-3">India</h1></article>
                            <article><h1 class="display-3">Tromsø</h1></article>
                            <article><h1 class="display-3">Turquía</h1></article>
                            <article><h1 class="display-3">Iceland</h1></article>
                            <article><h1 class="display-3">Switzerland</h1></article>
                            <article><h1 class="display-3">China</h1></article>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                        <div id="derecho" class="header-content-right">

                                <div class="container">
                                    <div class="row project">
                                        <div class="col-lg-4 col-md-4 offset-lg-1">
                                            <img class="img-fluid" src="{% static 'core/img/gadgets/camera_2.jpg' %}" alt="">
                                        </div>
                                        <div class="col-lg-7 col-md-8">
                                            <h2 class="mt-5 section-heading title">Consejos</h2>
                                            <p>Podras encontrar una guia rapida para tomar la mejor imagen en el momento y lugar
                                                adecuado.
                                            </p>
                                            <p><a target="blank" href="http://google.com">Más información</a></p>
                                        </div>
                                    </div>

                                    <div class="row project">
                                        <div class="col-lg-4 col-md-4 offset-lg-1">
                                            <img class="img-fluid" src="{% static 'core/img/gadgets/drone4.jpg' %}" alt="">
                                        </div>
                                        <div class="col-lg-7 col-md-8">
                                            <h2 class="mt-5 section-heading title">Equipo</h2>
                                            <p>Equipos y dispositivos profesionales, podras encontrar detalles y mi experiencia de
                                                cada dispositivo.
                                            <p><a href="{% url 'equipment' %}">Más información</a></p>
                                        </div>
                                    </div>

                                    <div class="row project">
                                        <div class="col-lg-4 col-md-4 offset-lg-1">
                                            <img class="img-fluid" src="{% static 'core/img/body/ever.jpg' %}" alt="">
                                        </div>
                                        <div class="col-lg-7 col-md-8">
                                            <h2 class="mt-5 section-heading title">Sobre mi</h2>
                                            <p>Estudiante de Software, especializado en desarrollo web. Gracias por tu visita.</p>
                                            <br>
                                            <p><a target="blank" href="http://sinconmasver.pythonanywhere.com/">Más información</a></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
{% endblock %}






{% block effect %}
<script>
window.sr = ScrollReveal();

sr.reveal('#header', {
    duration: 2000,
    origin: 'bottom',
    viewfactor: 0.2,
    delay: 500,
})

sr.reveal('#me', {
    duration: 2000,
    origin: 'top',
    distance: '300px'
})

sr.reveal('#derecho', {
    duration: 2000,
    origin: 'top',
    distance: '300px'
})

sr.reveal('#redes', {
    duration: 2000,
    origin: 'bottom',
    viewfactor: 0.2,
})

sr.reveal('#navbar', {
    duration: 2000,
    origin: 'left',
})

sr.reveal('#places', {
    duration: 2000,
    origin: 'right',
    distance: '300px'
})
</script>
{% endblock %}