@font-face {
    font-family: elon;
    src: url(../fonts/elon.ttf)
}

body {
    background: black
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    filter: blur(1px);
    filter:brightness(0.2);
}


/* NAVBAR */
.navbar {
    background-color: transparent !important;
    margin: 5px
}

#navbarNav>ul>li.nav-item>a {
    font-size: 22px;
    padding: 20px
}



/* ME */
#me {
    color: #f74843
}
header {
    margin-top: 90px;
    width: 100%;
    margin-bottom: 70px
}
#header-texto {
    font-size: 20px;
    margin-bottom: 60px
}




#places {
    margin-top: 110px;
    margin-bottom: 110px;
    max-width: 90%;
}

/* FONT PLACES */
#places article {
    font-family: 'Monoton', cursive;
}

#places article h1 {
    font-size: 70px;
}

/* LINK PLACES */
.header-content-left article a {
    text-decoration: none
}




#places>article a h1{
    color: white;

    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
#places>article a h1:hover {
    color: #f74843;

    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}





div.header-content-right img {
    padding-top: 50px
}

#places>article h1 {
    color: white;
}






/* RIGHT CONTENT */
div.row {
    margin-top: 10px;
    margin-bottom: 10px
}
/* TITTLE RIGTH CONTENT */
.title {
    color: #f74843
}



/* P RIGTH CONTENT */
.container p {
    color: white
}
#header>div>div>div:nth-child(2)>div {
    padding-top: 35%
}






/* REDES */
footer {
    text-align: center;
    line-height: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: static;
    font-family: 'Inconsolata', monospace
}

#redes {
    margin-top: 7px
}

#redes ul {
    padding-top: 5px;
}

div.copy {
    margin-top: 0px;
    color: #f74843;
    position: relative;
}

#redes ul a {
    font-family: elon, monospace;
    text-decoration: none;
    font-size: 15px;
    padding: 9px;
    color: white;

    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in
}

#redes ul a:hover {
    color: #f74843;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}



/* COLOR */
.color {
    color: snow;
    -webkit-transition: color 3s;
    transition: color 3s;
    -webkit-transition-delay: 2s;
    transition-delay: 1.5s;
    display: inline-block
}

.color.color-1:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ffaa79
}

.color.color-2:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #b4fafa
}

.color.color-3:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ff787d
}

.color.color-4:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #efb1ed
}

.color.color-5:hover {
    -webkit-transition: color 0s;
    transition: color 0s;
    color: #ffe484
}